:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-gray: hsl(212, 45%, 89%);
  --clr-grayish-blue: hsl(220, 15%, 55%);
  --clr-dark-blue: hsl(218, 44%, 22%);
  --clr-light-blue:  hsl(224, 82%, 67%);
  --clr-blue: hsl(224, 82%, 50%);
  --clr-background-card: var(--clr-white);
  --clr-background-body: var(--clr-light-gray);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: 'Outfit', sans-serif;
  background-color: var(--clr-background-body);
}
main {
  display: grid;
  place-content: center;
  padding: 3em;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 330px;
  padding: 1em;
  padding-bottom: 2em;
  text-align: center;
  background-color: var(--clr-background-card);
  border-radius: 24px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, .15);
}
.card__image {
  display: block;
  width: 100%;
  border-radius: 12px;
}
.card__title {
  margin: 1rem 0;
  font-weight: 700;
  color: var(--clr-dark-blue);
  line-height: 1.2;
}
.card__text {
  max-width: 23ch;
  font-size: 15px;
  font-weight: 400;
  color: var(--clr-grayish-blue);
  line-height: 1.3;
}
.footer {
  padding: 1.5em;
  margin-top: auto;
  text-align: center;
}
.footer__attribution {
  color: var(--clr-grayish-blue);
}
.footer__attribution a {
  color: var(--clr-light-blue);
  transition: .1s ease;
}
.footer__attribution a:hover,
.footer__attribution a:focus-visible {
  color: var(--clr-blue);
}